<h1>Welcome to my website </h1>
<p>Final year student studying Management & History at the University of Exeter. Eager to pursue entrepreneurial ventures in challenging environments.  Particular interest in travel / fintech / venture capital. Looking to engage with professionals willing to share their work / life experiences and other young people on a similar path. </p>